body{
    background-color: blueviolet;
}
.logo{
    color: azure;
    font-family: Montserrat;
    font-weight: bolder;
}
.login{
    color: azure;
    font-family: Montserrat;
    position: absolute;
    left: 50%;
    top: 27%;
}
.starting{
    color: azure;
    font-family: Montserrat;
    position: absolute;
    top: 33%;
    left: 46%;
}
.socials{
    position: absolute;
    top: 40%;
    left: 50%;
}
h3{
    color: azure;
    font-family: Montserrat;
    position: absolute;
    top: 45%;
    left: 51.5%;
}
.info{
    color: azure;
    font-family: Montserrat;
    position: absolute;
    top: 53%;
    left: 46%;
}